---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=5&q=is:xpto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '1610832544'
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"None of the search
        qualifiers apply to this search type.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Sat, 16 Jan 2021 21:28:07 GMT
recorded_with: VCR 6.0.0
