---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=5&q=is:public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=is%3Apublic&page=2&per_page=5>;
        rel="next", <https://api.github.com/search/repositories?q=is%3Apublic&page=200&per_page=5>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1610798034'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":59391200,"incomplete_results":true,"items":[{"id":15628859,"node_id":"MDEwOlJlcG9zaXRvcnkxNTYyODg1OQ==","name":"NJKScrollFullScreen","full_name":"ninjinkun/NJKScrollFullScreen","private":false,"owner":{"login":"ninjinkun","id":113420,"node_id":"MDQ6VXNlcjExMzQyMA==","avatar_url":"https://avatars1.githubusercontent.com/u/113420?v=4","gravatar_id":"","url":"https://api.github.com/users/ninjinkun","html_url":"https://github.com/ninjinkun","followers_url":"https://api.github.com/users/ninjinkun/followers","following_url":"https://api.github.com/users/ninjinkun/following{/other_user}","gists_url":"https://api.github.com/users/ninjinkun/gists{/gist_id}","starred_url":"https://api.github.com/users/ninjinkun/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ninjinkun/subscriptions","organizations_url":"https://api.github.com/users/ninjinkun/orgs","repos_url":"https://api.github.com/users/ninjinkun/repos","events_url":"https://api.github.com/users/ninjinkun/events{/privacy}","received_events_url":"https://api.github.com/users/ninjinkun/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ninjinkun/NJKScrollFullScreen","description":"Scroll
        to full screen like Facebook app","fork":false,"url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen","forks_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/forks","keys_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/teams","hooks_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/hooks","issue_events_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/issues/events{/number}","events_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/events","assignees_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/assignees{/user}","branches_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/branches{/branch}","tags_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/tags","blobs_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/git/refs{/sha}","trees_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/statuses/{sha}","languages_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/languages","stargazers_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/stargazers","contributors_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/contributors","subscribers_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/subscribers","subscription_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/subscription","commits_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/commits{/sha}","git_commits_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/git/commits{/sha}","comments_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/comments{/number}","issue_comment_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/issues/comments{/number}","contents_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/contents/{+path}","compare_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/merges","archive_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/downloads","issues_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/issues{/number}","pulls_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/pulls{/number}","milestones_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/milestones{/number}","notifications_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/labels{/name}","releases_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/releases{/id}","deployments_url":"https://api.github.com/repos/ninjinkun/NJKScrollFullScreen/deployments","created_at":"2014-01-04T08:09:07Z","updated_at":"2020-10-02T17:51:19Z","pushed_at":"2019-12-05T06:28:51Z","git_url":"git://github.com/ninjinkun/NJKScrollFullScreen.git","ssh_url":"git@github.com:ninjinkun/NJKScrollFullScreen.git","clone_url":"https://github.com/ninjinkun/NJKScrollFullScreen.git","svn_url":"https://github.com/ninjinkun/NJKScrollFullScreen","homepage":"","size":7514,"stargazers_count":956,"watchers_count":956,"language":"Objective-C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":98,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":10,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":98,"open_issues":10,"watchers":956,"default_branch":"master","score":1.0},{"id":26506779,"node_id":"MDEwOlJlcG9zaXRvcnkyNjUwNjc3OQ==","name":"frameit","full_name":"fastlane-old/frameit","private":false,"owner":{"login":"fastlane-old","id":17837202,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3ODM3MjAy","avatar_url":"https://avatars1.githubusercontent.com/u/17837202?v=4","gravatar_id":"","url":"https://api.github.com/users/fastlane-old","html_url":"https://github.com/fastlane-old","followers_url":"https://api.github.com/users/fastlane-old/followers","following_url":"https://[...]
