---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=asc&page=1&per_page=5&q=rails%2Blanguage:ruby%2B&sort=forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=rails%2Blanguage%3Aruby%2B&page=2&per_page=5&sort=forks&order=asc>;
        rel="next", <https://api.github.com/search/repositories?q=rails%2Blanguage%3Aruby%2B&page=200&per_page=5&sort=forks&order=asc>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1610831923'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":208328,"incomplete_results":false,"items":[{"id":80344225,"node_id":"MDEwOlJlcG9zaXRvcnk4MDM0NDIyNQ==","name":"cljs-rails","full_name":"bowd/cljs-rails","private":false,"owner":{"login":"bowd","id":304771,"node_id":"MDQ6VXNlcjMwNDc3MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/304771?v=4","gravatar_id":"","url":"https://api.github.com/users/bowd","html_url":"https://github.com/bowd","followers_url":"https://api.github.com/users/bowd/followers","following_url":"https://api.github.com/users/bowd/following{/other_user}","gists_url":"https://api.github.com/users/bowd/gists{/gist_id}","starred_url":"https://api.github.com/users/bowd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bowd/subscriptions","organizations_url":"https://api.github.com/users/bowd/orgs","repos_url":"https://api.github.com/users/bowd/repos","events_url":"https://api.github.com/users/bowd/events{/privacy}","received_events_url":"https://api.github.com/users/bowd/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bowd/cljs-rails","description":"Clojurescript
        integration for Rails inspired by webpack-rails","fork":false,"url":"https://api.github.com/repos/bowd/cljs-rails","forks_url":"https://api.github.com/repos/bowd/cljs-rails/forks","keys_url":"https://api.github.com/repos/bowd/cljs-rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bowd/cljs-rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bowd/cljs-rails/teams","hooks_url":"https://api.github.com/repos/bowd/cljs-rails/hooks","issue_events_url":"https://api.github.com/repos/bowd/cljs-rails/issues/events{/number}","events_url":"https://api.github.com/repos/bowd/cljs-rails/events","assignees_url":"https://api.github.com/repos/bowd/cljs-rails/assignees{/user}","branches_url":"https://api.github.com/repos/bowd/cljs-rails/branches{/branch}","tags_url":"https://api.github.com/repos/bowd/cljs-rails/tags","blobs_url":"https://api.github.com/repos/bowd/cljs-rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bowd/cljs-rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bowd/cljs-rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/bowd/cljs-rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bowd/cljs-rails/statuses/{sha}","languages_url":"https://api.github.com/repos/bowd/cljs-rails/languages","stargazers_url":"https://api.github.com/repos/bowd/cljs-rails/stargazers","contributors_url":"https://api.github.com/repos/bowd/cljs-rails/contributors","subscribers_url":"https://api.github.com/repos/bowd/cljs-rails/subscribers","subscription_url":"https://api.github.com/repos/bowd/cljs-rails/subscription","commits_url":"https://api.github.com/repos/bowd/cljs-rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/bowd/cljs-rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/bowd/cljs-rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/bowd/cljs-rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/bowd/cljs-rails/contents/{+path}","compare_url":"https://api.github.com/repos/bowd/cljs-rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bowd/cljs-rails/merges","archive_url":"https://api.github.com/repos/bowd/cljs-rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bowd/cljs-rails/downloads","issues_url":"https://api.github.com/repos/bowd/cljs-rails/issues{/number}","pulls_url":"https://api.github.com/repos/bowd/cljs-rails/pulls{/number}","milestones_url":"https://api.github.com/repos/bowd/cljs-rails/milestones{/number}","notifications_url":"https://api.github.com/repos/bowd/cljs-rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bowd/cljs-rails/labels{/name}","releases_url":"https://api.github.com/repos/bowd/cljs-rails/releases{/id}","deployments_url":"https://api.github.com/repos/bowd/cljs-rails/deployments","created_at":"2017-01-29T12:14:20Z","updated_at":"2018-11-28T16:34:05Z","pushed_at":"2017-01-30T16:30:09Z","git_url":"git://github.com/bowd/cljs-rails.git","ssh_url":"git@github.com:bowd/cljs-rails.git","clone_url":"https://github.com/bowd/cljs-rails.git","svn_url":"https://github.com/bowd/cljs-rails","homepage":null,"size":51,"stargazers_count":41,"watchers_count":41,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":1,"open_issues":0,"watchers":41,"default_branch":"master","score":1.0},{"id":1036684,"node_id":"MDEwOlJlcG9zaXRvcnkxMDM2Njg0","name":"shails","full_name":"emasaka/shails","private":false,"owner":{"login":"emasaka","id":67413,"node_id":"MDQ6VXNlcjY3NDEz","avatar_url":"https://avatars3.githubusercontent.com/u/67413?v=4","gravatar_id":"","url":"https://api.github.com/users/emasaka","html_url":"https://github.com/emasaka","followers_url":"https://api.github.com/users/emasaka/followers","following_url":"https://api.github.com/users/emasaka/following{/other_user}","[...]
