---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=5&q=is:public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=is%3Apublic&page=2&per_page=5>;
        rel="next", <https://api.github.com/search/repositories?q=is%3Apublic&page=200&per_page=5>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1610831836'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":71214785,"incomplete_results":true,"items":[{"id":16368651,"node_id":"MDEwOlJlcG9zaXRvcnkxNjM2ODY1MQ==","name":"Bolts-ObjC","full_name":"BoltsFramework/Bolts-ObjC","private":false,"owner":{"login":"BoltsFramework","id":6530429,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MzA0Mjk=","avatar_url":"https://avatars0.githubusercontent.com/u/6530429?v=4","gravatar_id":"","url":"https://api.github.com/users/BoltsFramework","html_url":"https://github.com/BoltsFramework","followers_url":"https://api.github.com/users/BoltsFramework/followers","following_url":"https://api.github.com/users/BoltsFramework/following{/other_user}","gists_url":"https://api.github.com/users/BoltsFramework/gists{/gist_id}","starred_url":"https://api.github.com/users/BoltsFramework/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BoltsFramework/subscriptions","organizations_url":"https://api.github.com/users/BoltsFramework/orgs","repos_url":"https://api.github.com/users/BoltsFramework/repos","events_url":"https://api.github.com/users/BoltsFramework/events{/privacy}","received_events_url":"https://api.github.com/users/BoltsFramework/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/BoltsFramework/Bolts-ObjC","description":"Bolts
        is a collection of low-level libraries designed to make developing mobile
        apps easier.","fork":false,"url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC","forks_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/forks","keys_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/teams","hooks_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/hooks","issue_events_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/issues/events{/number}","events_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/events","assignees_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/assignees{/user}","branches_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/branches{/branch}","tags_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/tags","blobs_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/git/refs{/sha}","trees_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/statuses/{sha}","languages_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/languages","stargazers_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/stargazers","contributors_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/contributors","subscribers_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/subscribers","subscription_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/subscription","commits_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/commits{/sha}","git_commits_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/git/commits{/sha}","comments_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/comments{/number}","issue_comment_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/issues/comments{/number}","contents_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/contents/{+path}","compare_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/merges","archive_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/downloads","issues_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/issues{/number}","pulls_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/pulls{/number}","milestones_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/milestones{/number}","notifications_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/labels{/name}","releases_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/releases{/id}","deployments_url":"https://api.github.com/repos/BoltsFramework/Bolts-ObjC/deployments","created_at":"2014-01-30T04:54:14Z","updated_at":"2021-01-07T01:35:10Z","pushed_at":"2020-09-30T12:57:51Z","git_url":"git://github.com/BoltsFramework/Bolts-ObjC.git","ssh_url":"git@github.com:BoltsFramework/Bolts-ObjC.git","clone_url":"https://github.com/BoltsFramework/Bolts-ObjC.git","svn_url":"https://github.com/BoltsFramework/Bolts-ObjC","homepage":"","size":649,"stargazers_count":5625,"watchers_count":5625,"language":"Objective-C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":597,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":39,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"forks":597,"open_issues":39,"watchers":5625,"default_branch":"master","score":1.0},{"id":4395117,"node_id":"MDEwOlJlcG9zaXRvcnk0Mzk1MTE3","name":"headtrackr","full_name":"auduno/headtrackr","private":false,"owner":{"login":"auduno","id":1588066,"node_id":"MDQ6VXNlcjE1ODgwNjY=","avatar_url":"https://avatars3.githubusercontent.com/u/1588066?v=4","gravatar_id":"","url":"https://api.github.com/users/auduno","html_url":"https://github.com/auduno","followers_url":"https://api.github.com/users/auduno/followers","following_url":"https://api.github.com/users/auduno/following{/othe[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=asc&page=1&per_page=5&q=xptoxx123%2Blanguage:ruby%2B&sort=forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1610831923'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Sat, 16 Jan 2021 21:17:43 GMT
recorded_with: VCR 6.0.0
